
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_SampleLayout</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @RenderSection("scripts",false)
</head>
<body>
    <div> 
        @RenderBody()
    </div>
</body>
</html>
