body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 101;
    background-color: #000000;
    opacity: .15;
    filter: alpha(opacity=15);
    -moz-opacity: .15;
}





.modalpopup {
    left: 50%;
    top: 50%;
    width: 200px;
    height: 200px;
    background-color: White;
    border-color: Black;
    border-style: solid;
    z-index: 102;
    display: none;
    position: fixed;
    margin-left: -100px;
    margin-top: -100px;
}
