/ADO.NET Series/ADONetPractice/ADONetPractice/bin
/ADO.NET Series/ADONetPractice/TransactionPrac/bin
/ADO.NET Series/ADONetPractice/ADONetPractice/obj
/ADO.NET Series/ADONetPractice/TransactionPrac/obj
/ADO.NET Series/ADONetPractice/*.suo
