
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_MyPublicLayout</title>
</head>
<body>
    <span style="color:red">@TempData["Message"]</span>
    <div> 
        @RenderBody()
    </div>
</body>
</html>
